button {
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
}
.loginlayout{
    width: 100%;
    height: 500px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    /* background-color: cadetblue; */
}
.formlayout{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(78, 78, 78, 0.925);
}
.logintext{
    margin-bottom: 10px;
}
.btn{
    margin-top: 15px;
}
.pfplayout{
    position: relative;
    display: flex;
}
.logout{
    display: flex;
    background-color: black;
    height: 42px;
    border-radius: 100%;
    z-index: 4;
    width: 42px;
    right: 0px;
    top: 0px;
    position: absolute;
    padding: 12px;
}
.pfp{
    /* position: absolute; */
}
.logout:hover{
    background-color: rgb(80, 80, 80);
}